a {
	outline:0;
}
a:link{
	color:#455F6B;
	text-decoration:none;

}
a:visited {
	text-decoration: underline;
	color: red;

}
a:hover {
	background-color: red;
	color:black;
	text-decoration:none;

}
a:active {
	font-size: 30px;

}
body {
	background-color: #ccc;
	background-image: url(123.jpg);
	background-repeat: no-repeat;
	
}