a { 
	outline:0;
}

a:link{
	color:#455F6B;
	text-decoration:none;

}
a:visited {
	text-decoration: underline;
	color: red;

}
a:hover {
	background-color: red;
	color:black;
	text-decoration:none;

}
a:active {
	font-size: 30px;

}
body {
	text-align: center;
	background-color: #ccc;
	background-image: url(111.jpg);
	background-repeat: no-repeat;
    background-position: 50% 50%;
}
h1 {
    text-align: center;
	background-color:  rgba(255,22,255,.1);
	color: #aaa;
	padding: 10px;
	border: 0.5px rgba(200,160,22,1) solid;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px rgba(1,1,1,1)
	margin: 5px auto;
	width: 400px;
}

div {
	height: 400px;
	border:1px black solid;
	background-color: rgba(0,0,0,0.3);

}
div.right {
	width: 120px;
	float: right;
}
div.left {
	width: 200px
	float: left;	
}
div.center {
	width: 200px;
	float: left;
}
